
body{
    background-color: rgb(255, 255, 255);
    opacity: 8;
}
.img1{
    width: 50%;
    position: absolute;
    left: 25%;
    top: 40%;
}
.img2{
    width: 50%;
    position: absolute;
    left: 25%;
    top:120%;
}
.img3{
    width: 50%;
    position: absolute;
    left: 25%;
    top: 200%;
}
.p1{
    width: 18%;
    position: absolute;
    left: 40%;
    top: 90%;
    color: white;
}
.p2{
    width: 18%;
    position: absolute;
    left: 40%;
    top: 165%;
    color: white;
}
.p3{
    width: 18%;
    position: absolute;
    left: 40%;
    top: 245%;
    color: white;
}
.cp1{
        width: 99%;
        height:20% ;
        position: absolute;
        left: 0%;
        top:270%;
        color: white;
        background-color: black;
       }
 .cp1{
        width: 99%;
        height:20% ;
        position: absolute;
        left: 0%;
        top:270%;
        color: white;
        background-color: black;
       }
