.h1{
    font-family: 'Courier New', Courier, monospace;
}
.h2{
    font-family: 'Courier New', Courier, monospace;
}
.h3{
    font-family: 'Courier New', Courier, monospace;
}
.h4{
    font-family: 'Courier New', Courier, monospace;
}
.h5{
    font-family: 'Courier New', Courier, monospace;
}
.h6{
    font-family: 'Courier New', Courier, monospace;
}
.zaglavie{
    text-align: center;
}
.img1{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 30%;
}
.h11{
    font-family: 'Courier New', Courier, monospace;
}
.img2{
    width: 45%;
    height: 55%;
}
.h13{
    position: center;
}
.img3{
    right:0%
}
